body {
    display: grid;
    justify-content: center;
}

body h1 {
    display: flex;
    justify-content: center;
    margin: 50px 0 50px 0;
}

#gameBoard {
    display: grid;
    width: 600px;
    height: 600px;
    border: 2px solid black;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

#gameBoard div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    cursor: pointer;
    font-size: 3.5rem;
}

#buttons {
    display: flex;
    justify-content: center;
}

#startGame, #resetGame {
    width: 100px;
    margin: 50px;
    padding: 10px;
    justify-self: center;
    font-weight: bold;
    font-size: 1rem;
    background-color: blue;
    color: white;
    border-radius: 10px;
    border: none;
}

#startGame:hover, #resetGame:hover{
    background-color: rgba(0, 0, 255, 0.779);
    cursor: pointer;
}

#display {
    text-align: center;
    font-weight: bold;   
}