body {
    display: grid;
    justify-content: center;
}

body h1 {
    display: flex;
    justify-content: center;
    margin: 50px 0 80px 0;
}

#gameBoard {
    display: grid;
    width: 600px;
    height: 600px;
    border: 2px solid black;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

#gameBoard div {
    border: 1px solid black;
    cursor: pointer;
}